# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.backup
.terraform.tfstate.lock.info
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Секреты
terraform.tfvars
*.auto.tfvars
*.pem
*.key

# Бинарники
terraform
terraform-provider-clo_*

# Плагины
terraform.d/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
