# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.backup
.terraform.tfstate.lock.info

# Секреты
terraform.tfvars
*.auto.tfvars

# Бинарники
terraform
terraform-provider-clo_*

# Плагины
terraform.d/

# Скрипты инициализации (опционально)
# init_db.sh

# IDE
.vscode/
.idea/
*.swp
.DS_Store